@{
    ViewData["Title"] = "DaftarRental";
}

<div class="dropdown">
    <button class="dropdown">Daftar Rental</button>
    <div class="dropdown-menu">
        <a href="https://localhost:44398/customers"></a>
        <a href="https://localhost:44398/genders"></a>
        <a href="https://localhost:44398/jaminans"></a>
        <a href="https://localhost:44398/jeniskendaraans"></a>
        <a href="https://localhost:44398/peminjamans"></a>
        <a href="https://localhost:44398/pengembalians"></a>
    </div>
</div>